# site properties and page defaults
<<<<<<< HEAD
title: 디지털인문학연구소 @ AKS
subtitle: Center for Digital Humanities @ AKS
description: 디지털인문학을 연구하는 한국학중앙연구원 디지털인문학연구소입니다.
=======
title: Lab Website Template
subtitle: by the Greene Lab
description: An easy-to-use, flexible website template for labs, with automatic citations, GitHub tag imports, pre-built components, and more.
>>>>>>> upstream/main
header: images/background.jpg
footer: images/background.jpg
proofer: false

# site social media and other links
links:
<<<<<<< HEAD
  # email: contact@AKS-DHLAB.com
  # orcid: 0000-0001-8713-9213
  # google-scholar: ETJoidYAAAAJ
  github: AKS-DHLAB
  huggingface: AKS-DHLAB
  # twitter: AKS-DHLAB
  # youtube: AKS-DHLAB
=======
  email: contact@your-lab.com
  orcid: 0000-0001-8713-9213
  google-scholar: ETJoidYAAAAJ
  github: your-lab
  twitter: YourLabHandle
  youtube: YourLabChannel
>>>>>>> upstream/main

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
