---
---

table {
  margin: 40px auto;
  border-collapse: collapse;
  overflow-wrap: anywhere;
}

table.news-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95em;
  border-spacing: 0 1em;
}

table.news-table td {
  border: none;
  padding: 2px 8px;
  vertical-align: top;
  text-align: left;
}

th {
  font-weight: var(--semi-bold);
}

th,
td {
  padding: 10px 15px;
  border: solid 1px var(--light-gray);
}
