---
---

table {
  margin: 40px auto;
  border-collapse: collapse;
  overflow-wrap: anywhere;
}

<<<<<<< HEAD
table.news-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
  font-size: 0.95em;
}

=======
>>>>>>> upstream/main
th {
  font-weight: var(--semi-bold);
}

th,
td {
  padding: 10px 15px;
  border: solid 1px var(--light-gray);
}
<<<<<<< HEAD

table.news-table td {
  border: none;
  padding: 2px 8px;
  vertical-align: top;
  text-align: left;
}
=======
>>>>>>> upstream/main
